{
  "trailingComma": "none",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "*.{cls,trigger}",
      "options": {
        "printWidth": 120,
        "tabWidth": 4
      }
    },
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc",
        "printWidth": 120,
        "tabWidth": 4
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "parser": "html",
        "printWidth": 120,
        "tabWidth": 4
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120,
        "tabWidth": 4
      }
    }
  ]
}